/* review_result.css */
pre,
code {
  font-family: "Monaco", "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", "monospace";
  font-size: small;
}
